.theme{
    background-color: rgb(50,50,50);
    top:0; left:0;  min-height:100vh; position:absolute;
}
.theme div.titre{
    height: 80px; width: 100vw;
    text-transform: uppercase; font-size: 27px; font-weight: bold;
 color: white; 
}
.theme div.liste{
    width: min(1300px,100vw);margin: auto;height: 100%;
    display: flex; align-items: flex-start; justify-content: flex-start;
    flex-wrap: wrap;
}
.theme div.liste div.event{
    background-color: rgb(185, 56, 56);
    overflow: hidden; border-radius: 20px;box-shadow: 0 0 10px rgba(255,255,255,.2); box-sizing: border-box;
    display: flex;  flex-direction: column;  
    margin: 20px; 
    width:600px;
    height:400px;
}

.theme div.liste div.event.petit{
    flex-direction: row;
}

.descr{
 font-weight: bold;color: white; font-size: 30px;
}
.theme .grand .descr{
    display: flex; align-items: center; justify-content: space-between;
    width:100%; height: 25%;overflow: hidden;
}
.theme .grand .illus{
    width: 100%; height:75%;background-color: orange;
}
.theme div.liste div.event.petit .descr{
    height:100%;width:50%;
}
.theme div.liste div.event.petit .descr button{
    height: fit-content;
}
.theme div.liste div.event.petit .illus{
    height:100%; width: 50%;background-color: blue;
}
@media screen and (min-width:601px){
    .theme div.liste div.event.petit{
       height: 400px; 
    }
    .theme div.liste div.event.petit .illus{
width:400px;
    }
}
.illus img{ height:100% ; width:auto ;}
.theme button.retour{
    position: fixed;top:0; left:0;
}
.theme .event button{
    height: 70%;
    color: rgb(50,50,50);
    background-color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    padding: 5px 15px;
    box-sizing: border-box;
}
.event.petit button{
    margin-top:20px;
}
.theme .event .descr {
    box-sizing: border-box;
    padding: 0 5%;
}
@media screen and (max-width:600px){
    .theme div.liste{
    flex-direction: column;align-items: center;
    }
    .theme div.liste div.event{
        width: 90vw;height: 45vw;
        margin: 0;
        margin-top: 20px;
    }
    .theme div.liste div.event.petit .descr{
        flex-direction: column;text-align: center;
        display: flex; align-items: center; justify-content: center;
    }
.theme div.liste div.event.grand{
    height: 60vw;
}
    .descr{
        font-size: 20px;
    }
    .theme .event button{
font-size: 15px; padding: 5px 8px;box-sizing: border-box;
    }
}