.connexion-container{ 
    min-height: 80vh;
    background-color: rgba(0,0,0,.05);
    width: min(100vw, 1300px);
    margin: auto;
    padding-top: 50px ;box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;align-items: center;
}
.connexion-container p{
    text-align: center;
}
.connexion-container input, .connexion-container button{
    margin: 20px 0;
    width: min(90vw,500px);
    height: 50px;
    font-size: 22px;
    border-radius: 10px;
    padding: 0 10px;box-sizing: border-box;
    box-shadow: 0 0 10px rgba(75, 74, 74, 0.3);
    border: 1px solid rgba(0,0,0,0);
    background-color: white;
} 
.connexion-container button{
    width: min(300px, 90vw);
    margin: auto;display: block;
}
.connexion-container button:hover,.connexion-container button:active{
    background-color: red; color: white; font-weight: bold;
}
@media screen and (max-width:1300px){
    .connexion-container{ 
        min-height: 60vh;
    }
    .connexion-container input{
        margin: 5px 0;
    }
}
.connexion-container p.alerte{
    color: red;
    font-weight: bold;
}