.question{
  background-color: pink;
  margin: 2vh;
}
.question div{

  margin: 4px;
  width: 300px;
}
.red{
  background-color: red; color: white;
}
.green{
  background-color: green; color: white;
}